body, html, h1, h2, h3, h4, h5, h6, ul, li, a, div, table, p, img{
    margin:0px;
    padding:0px;
    list-style:none;
    border-collapse:collapse;
    text-decoration:none;
    border:none;
    font-weight:normal;
}
img{
    display:block;
    border: none;
    text-decoration: none;
    outline: none;
}

a{
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    -ms-transition: .5s ease;
    color:#3b65a7;
}
a:hover{
    text-decoration:underline;
}
input{
    border: none;
    outline: 0;
}
textarea:focus, input:focus, *:focus {
    outline: 0;
}
input[type="button"], button{
    cursor:pointer;
}
.lfl{
    float:left;
}
.rfl{
    float:right;
}
.clear{
    clear:both;
}
.transition{
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
    -ms-transition: .7s ease;
}
.transition_m{
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    -ms-transition: .5s ease;
}
.transition_f{
    -webkit-transition: .35s ease;
    -moz-transition: .35s ease;
    -o-transition: .35s ease;
    -ms-transition: .35s ease;
}

.centered{
    text-align:center;
}
.show_block{
    display:block;
}
button{
    border:none;
    padding:0px;
    background:none;
}
input[type="button"], input[type="submit"], .btn_add{
    cursor:pointer;
}
.withminheight{
    min-height:600px;
}
.message_holder{
}
.message{
    display: block;
    font-size: 1rem;
    padding: 10px;
    background-color: #f9f9f9;
    color: #fff;
    border-radius: 3px;
}
.omessage{
    background-color: #999;
}
.error_message{
    background-color: #ec3b57;
}
.success_message{
    background-color: #00C292;
}
.notify_message{
    background-color: #fffdc1;
    color: #333;
    font-size: 1.2rem;
}
/**/
.two-rows{
    width: 49%;
    margin-right: 2%;
}
.three-rows{
    width: 31%;
    margin-right: 3.5%;
}
.four-rows{
    width: 23.5%;
    margin-right: 2%;
}
.five-rows{
    width: 19%;
    margin-right: 1.25%;
}
.two-rows:nth-child(2n), .three-rows:nth-child(3n), .four-rows:nth-child(4n), .five-rows:nth-child(5n){
    margin-right: 0;
}

/*text colors*/
.white_text{
    color:#fff;
}
.black_text{
    color:#000;
}
.lightblue_text{
    color:#02ccda;
}
.darkblue_text{
    color:#00426d;
}
.red_text, .redtext{
    color:#F00;
}
.grey_text{
    color:#666;
}
.lightgrey_text{
    color:#999;
}
.darkgrey_text{
    color:#333;
}
.site_grey{
    color:#868686;
}
.orange_text{
    color:#ff5700;
}
.green_text{
    color:#0C0;
}
/**/
.ucase{
    text-transform:uppercase;
}
.ccase{
    text-transform:capitalize;
}
.lcase{
    text-transform:lowercase;
}
.ds_desc{
    line-height:1.5em;
}
.ds_desc2{
    line-height:2em;
}
.content{
    width:96%;
    max-width:1000px;
    margin:0px auto;
}
/*margins and paddings*/
.largetopmargin{
    margin-top:20px;
}
.mediumtopmargin{
    margin-top:10px;
}
.smalltopmargin{
    margin-top:10px;
}
.largebottommargin{
    margin-bottom:20px;
}
.mediumbottommargin{
    margin-bottom:10px;
}
.smallbottommargin{
    margin-bottom:5px;
}
.largetoppadding{
    padding-top:20px;
}
.mediumtoppadding{
    padding-top:10px;
}
.mediumrightpadding{
    padding-right:10px;
}
.largerightpadding{
    padding0-right:20px;
}
.smalltoppadding{
    padding-top:5px;
}
.largebottompadding{
    padding-bottom:20px;
}
.mediumbottompadding{
    padding-bottom:10px;
}
.smallbottompadding{
    padding-bottom:5px;
}
.margincentered{
    margin-left:auto;
    margin-right:auto;
}
.smallleftmargin{
    margin-left:5px;
}
.smallrightmargin{
    margin-right:5px;
}
.mediumleftmargin{
    margin-left:10px;
}
.mediumrightmargin{
    margin-right:10px;
}
.largeleftmargin{
    margin-left:20px;
}
.verylargeleftmargin{
    margin-left: 30px;
}
.largerightmargin{
    margin-right:20px;
}
.verylargerightmargin{
    margin-right: 30px;
}
/*centeralize*/
.outer_div_f {
    position:relative;
    overflow:hidden;
}
.outer_div_s {
    float:left;
    position:relative;
    left:50%;
}
.hold_in_mid {
    float:left;
    position:relative;
    left:-50%;
}
.hold_all_show{
    display:none;
    position:fixed;
    height:100%;
    width:100%;
    z-index:1200;
    left:0px;
    top:0px;
    background-image:url(../../images/main/75black.png);
}
.in_all_show{
    margin: 0px auto;
    margin-top:8%;
    width:560px;
    background-color:#fff;
    padding:20px;
    position:relative;
}
.in_lbox_content{
    margin:0px auto;
    width:560px;
}
.close{
    display:block;
    position:absolute;
    width:22px;
    height:22px;
    line-height:20px;
    border-radius:50%;
    text-align:center;
    font-weight:bold;
    right:-10px;
    top:-10px;
    color:#fff;
    background-image:url(../../images/main/75black.png);
    position:absolute;
}
.close:hover{
    text-decoration:none;
    box-shadow: 0px 0px 2px #222;
}
.menu_icon{
    display:none;
}
.rel_pos{
    position:relative;
}
.ds_desc ul{
    margin-left:10px;
}
.ds_desc li{
    display:list-item;
    list-style:disc;
    margin-left:10px;
}
.bold{
    font-weight:700;
}
.blackbackground{
    background-color:#000;
}
.vlightorangebackground{
    background-color:#FFFDF9;
}
.lightorangebackground{
    background-color:#FFF1DB;
}
.whitebackground{
    background-color:#fff;
}
.lightgreybackground{
    background-color:#ededed;
}
.smallfontsize{
    font-size:.8em;
}
.mediumbigtext{
    font-size:1.25rem;
}
.bigtext{
    font-size:1.5rem;
}
.display_none{
    display:none;
}
/*in bk*/
.hold_all_show{
    display:none;
    position:fixed;
    height:100%;
    width:100%;
    z-index:2000;
    left:0px;
    top:0px;
    background-image:url(../images/75black.png);
}
.in_all_show{
    margin: 0px auto;
    margin-top:3%;
    width:80%;
    max-width:850px;
    background-color:#000;
    padding:10px 10px;
    position:relative;
}
.in_lbox_content{
    margin:0px auto;
    /*width:560px;*/
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    z-index:1;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
}
.close{
    display:block;
    position:absolute;
    width:22px;
    height:22px;
    line-height:20px;
    border-radius:50%;
    text-align:center;
    font-weight:bold;
    right:-10px;
    top:-10px;
    color:#fff;
    background:#C00;
    z-index:100;
    position:absolute;
}
.close:hover{
    text-decoration:none;
    box-shadow: 0px 0px 2px #222;
    background:#f00;
}